body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: burlywood;
    color: white;
}

h1, h2{
    background-color: rgb(90, 47, 23);
}

p {
    background-color: rgb(90, 47, 23);
    color: white;
}

footer {
    background-color:   rgb(176, 66, 66)
}